@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

app{
  margin: 0;
  display: grid;
  grid-template-columns: 220px 1fr;
  height: 100vh;
}
.sidebar{
  background-color: #f5f5f5;
  padding: 1rem;
}
.content{
  background-color: #fff;
  padding: 2rem;
}